# Execute cmd to configure git. 
# rm -rf ~/.gitconfig && ln -s ~/repos/configs/.gitconfig ~/.gitconfig

[user]
    name = Magnus Kirø
    email = magnuskiro@gmail.com
[credential]
    helper = cache --timeout=3600
[push]
    default = upstream
[color]
    status = auto
    branch = auto
    ui = auto
[core]
    editor = vim
    autocrlf = input
[alias]
    pl = pull
    ps = push
    st = status
    cm = commit -m
    ca = commit -am
    b = branch
    br = branch
    co = checkout
    d = diff
    df = diff
    l = log -p
    lg = log -p
    who = shortlog -s --
