# Execute cmd to configure git. 
# rm -rf ~/.gitconfig && ln -s ~/repos/configs/.gitconfig ~/.gitconfig

[user]
    name = Magnus Kirø
    email = magnuskiro@gmail.com
[credential]
    helper = cache --timeout=3600
[push]
    default = upstream
[color]
    status = auto
    branch = auto
    ui = auto
[core]
    editor = vim
    autocrlf = input
[alias]
    pl = pull
    pr = pull --rebase
    ps = push
    pst = push --tags
    st = status
    cm = commit -m
    ca = commit -am
    cma = commit --amend
    b = branch
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    co = checkout
    d = diff
    df = diff
    l = log --color --oneline --graph --pretty=format:'%C(yellow)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset -%C(red)%d%Creset'
    lg = log -p
    who = shortlog -s --
    today = log --committer='Magnus Kirø' --since='6am' --no-merges
    s = stash
    sp = stash pop
    undo = reset HEAD~1 --mixed
